html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  background: blue;
  display: flex;
  align-items: center;
}

.wrapper a {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 1;
}
.main {
  margin-top: 60px;
}

.footer {
  position: relative;
  width: 100%;
  height: 150px;
  background: rgba(130, 130, 130, 1);
}
.product {
  position: relative;
  height: 350px;
  width: 250px;
  border: 1px solid black;
}
.product_container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
